{% trans_default_domain 'visitor' %}

{% extends 'visitor/visitor-base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/visitor-registration.js') }}"></script>
{% endblock %}

{% block title %}SHF - Register{% endblock %}

{% block body %}
    <div class="uk-position-center" style="width: 400px;">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Inscription</h3>
            </div>
            <div class="uk-card-body uk-margin-remove-top uk-text-center">
                <div id="registration-form"></div>
            </div>
            <div class="uk-card-footer">
                <a href="{{ path('login') }}" title="Formulaire de connexion">Déjà inscrit ? c'est pas ici !</a>
            </div>
        </div>
    </div>
{% endblock %}