{% trans_default_domain 'admin' %}

{% extends 'admin/admin-base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/admin-users.js') }}"></script>
{% endblock %}

{% block title %}{{ parent() }}{{ 'admin.users.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <section id="users"></section>
    </main>
{% endblock %}