body, .uk-section-default {
    background-color: #f6f6f6;
}

header.uk-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.shf-form-width-large {
    width: 335px;
}

.uk-navbar-nav > li > a.uk-button.uk-button-primary {
    color: #FFF;
}

.uk-navbar-nav > li > a.uk-button.uk-button-default {
    color: #222;
}