body, .uk-section-default {
    background-color: #f6f6f6;
}

header.uk-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.shf-form-width-large {
    width: 335px;
}

.uk-navbar-nav > li > a.uk-button.uk-button-primary,
.uk-navbar-nav .uk-navbar-item {
    color: #FFF;
}

.uk-navbar-nav > li > a.uk-button.uk-button-default {
    color: #222;
}

#notifications-count .uk-badge {
    background-color: #ef5350;
    margin: 75% 0 0 -55%;
}

.user-sticker {
    font-size: 1.1em;
}

.shf-user-sticker .shf-username,
.shf-user-sticker .shf-character-summary {
    display: block;
}

.shf-user-sticker .shf-username {
    font-weight: 700;
}

.shf-user-sticker .shf-character-summary {
    text-transform: capitalize;
}