@import "~uikit/dist/css/uikit.min.css";
@import "materialize-icons.css";
@import "common-theme.css";

a:hover {
    text-decoration: none;
}

.shf-list-inline > li {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.shf-border-top {
    border-top: 1px solid #f6f6f6;
}

.shf-remove-border-bottom {
    border-bottom: none !important;
}

.shf-padding-left-small {
    padding-left: 1em;
}

.shf-clickable-neutral {
    cursor: pointer;
}

.shf-clickable {
    cursor: pointer;
    color: #1e87f0;
}