<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <title>{% block title %}SHC - {% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}{% endblock %}
</head>
<body class="uk-height-1-1">
{% block page_content %}{% endblock %}

<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>